<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttobagi.web.dao.BucketlistDao">
<select id="getList" resultType="com.ttobagi.web.entity.Bucketlist">
 		SELECT * FROM Bucketlist where coupleId =#{id} and status = #{status} 
</select>
<select id="getRandomList" resultType="com.ttobagi.web.entity.Bucketlist">
 		select * from Bucketlist where coupleId =#{id} and status = 0 order by rand() limit 8;
</select>
<insert id="insert" parameterType="com.ttobagi.web.entity.Bucketlist">
	insert into Bucketlist(title, fileName, fileRoute,coupleId)
 		values(#{cardTitle},#{picFile},"파일루트입니다",#{cId})
</insert>
<update id="update">
	update Bucketlist
 		set
 			status = 1
 		where Id =#{cardId}
</update>
<delete id="delete">
	delete from Bucketlist where Id = #{cardId}
</delete>
</mapper>