<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttobagi.web.dao.CalendarDao">
	<select id="getList" resultType="com.ttobagi.web.entity.Calendar">
 		SELECT * FROM Calendar 
 		where coupleId = (select id from couple where senderId=#{id} or receiverId=#{id})
	</select>
	
	<insert id="insert" parameterType="com.ttobagi.web.entity.Calendar">
		insert into Calendar(coupleId, title,content,location,start,end)
		select (select id from couple where senderId=#{coupleId} or receiverId=#{coupleId}),
		#{title}, #{content}, #{location}, #{start}, #{end} from DUAL
	</insert>
	
	<delete id="delete">
		delete from Calendar where id=#{id} 
	</delete>
</mapper>