<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttobagi.web.dao.CalendarDao">
	<select id="getList" resultType="com.ttobagi.web.entity.Calendar">
 		SELECT id, date_format(start,'%Y-%m-%d %h:%i:%s') start, 
 		date_format(end,'%Y-%m-%d %h:%i:%s') end, location,title,content,regdate,coupleId FROM Calendar 
 		where coupleId = (select id from couple where senderId=#{id} or receiverId=#{id})
	</select>
</mapper>