<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttobagi.web.dao.CommunityDao">
	<select id="getCateList" resultType="com.ttobagi.web.entity.CommunityCategory">
		select * from communityCategory
	</select>
	
	<select id="get" resultType="com.ttobagi.web.entity.Community">
		select * from community where id = ${id};
	</select>
	
	<select id="getView" resultType="com.ttobagi.web.entity.CommunityView">
		select * from communityView where id = ${id};
	</select>
	
	<select id="getViewList" resultType="com.ttobagi.web.entity.CommunityView">
		select * from communityView where communityType = #{param3}
		<if test="param4 != null">
			order by #{param4} desc
		</if>
		limit #{param2} offset #{param1};
	</select>
	
	<select id="getList" resultType="com.ttobagi.web.entity.Community">
		select * from community
		<if test="param4 != null">
			order by #{param4} desc
		</if>
		limit #{param2} offset #{param1};
	</select>
	
	<insert id="insert" parameterType="com.ttobagi.web.entity.Community">
      insert into community(title, content, files)
      values(#{title}, #{content}, #{files});
   	</insert>
	
	<update id="update" parameterType="com.ttobagi.web.entity.Community">
		UPDATE ttobagi.community
		SET
			title = #{title},
			content = #{content},
			files = #{files}
		WHERE id = #{id};
   	</update>
   	
	<delete id="delete">
   		delete from community where id=#{id};
   	</delete>
</mapper>