<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttobagi.web.dao.CoupleDao">

	<insert id="requestCouple" parameterType="com.ttobagi.web.entity.Couple">
		insert into couple(senderId, receiverId) values(#{senderId}, #{receiverId})
	</insert>
	
	<select id="getList" resultType="com.ttobagi.web.entity.Couple">
		select * from couple where senderId = #{id} or receiverId = #{id};
	</select>
	
	<select id="get" resultType="com.ttobagi.web.entity.Couple">
		select * from couple where senderId = ${id} or receiverId = ${id};
	</select>
	
	<select id="isApproval" resultType="com.ttobagi.web.entity.CoupleView">
		<if test="senderId == 0 and isApproval == true">
			select * from member m
			join couple c on m.id = c.receiverId
			where receiverId = ${receiverId} and not isNull(approvalDate);
		</if>
		<if test="receiverId == 0 and isApproval == true">
			select * from member m
			join couple c on m.id = c.senderId
			where senderId = ${senderId} and not isNull(approvalDate);
		</if>
		<if test="senderId == 0 and isApproval == false">
			select * from member m
			join couple c on m.id = c.receiverId
			where receiverId = ${receiverId} and isNull(approvalDate);
		</if>
	</select>
	
	<update id="responseOk" parameterType="com.ttobagi.web.entity.Couple">
		update couple
		set approvalDate = now() 
		where receiverId = ${receiverId};
	</update>
	
	<delete id="responseNo" parameterType="com.ttobagi.web.entity.Couple">
		delete from couple where receiverId = ${receiverId};
	</delete>
	
	<update id="update" parameterType="com.ttobagi.web.entity.Couple">
		update couple 
		set loveStartDate = #{loveStartDate} 
		where id = #{id};
	</update>
	
	<delete id="delete" parameterType="com.ttobagi.web.entity.Couple">
		delete from couple 
		where id = #{id};
	</delete>
	
</mapper>