<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttobagi.web.dao.DiaryDao">
<select id="getViewList" resultType="com.ttobagi.web.entity.DiaryView">
 		select * from diaryView
		where memberId=#{param1} or memberId=#{param2}
		order by regdate desc
		limit #{param4} offset #{param3};
		<!--Id,opponentId,startIndex,size=4 -->
</select>

<insert id="insert"> <!-- parameterType="com.ttobagi.web.entity.Diary" -->
	insert into diary(title,content,memberId,moodId)
	values (#{title},#{content},#{memberId},#{moodId});
</insert>


</mapper>
