<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ttobagi.web.dao.MemoryDao">
<select id="getList" resultType="com.ttobagi.web.entity.Memory">
 		SELECT * FROM Memory where coupleId =#{id}
 		<if test="!cardId.equals(0)">
 		and Id = #{cardId}
 		</if>
</select>
<select id="keywordList" resultType="com.ttobagi.web.entity.Memory">
 		select * from Memory where coupleId =#{coupleId} 
 		and content like '%${text}%'
</select>
<select id="dateList" resultType="com.ttobagi.web.entity.Memory">
 		select * from Memory where coupleId = #{coupleId}
 		 <if test="!text.equals('')">
 		 and regDate >= date(#{text});
 		 </if>
</select>
<insert id="insert" parameterType="com.ttobagi.web.entity.Memory">
	insert into Memory(content,fileName,coupleId)
 		values(#{content},#{saveFileName},#{cId})
</insert>
<update id="update">
	update Memory
 		set
 			content = #{content}
 		<if test="!saveFileName.equals('')">
 		 , fileName = #{saveFileName}
 		 </if>
 		where Id =#{cardId}
</update>
<delete id="delete">
	delete from Memory where Id = #{cardId}
</delete>

</mapper>