#main{
    width: 100%;
    height: 800px;
    margin: 0px;
    overflow:auto; 
    /*안에 내용에 margin을 주면 #main이 같이 내려가는걸 방지*/
}

#main .panel{
    width: 700px;
    height:680px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    overflow:auto; 
    border: 1px solid #eeeeee;

}

#main .panel form div{
    width: 678px;
}

#main .panel form .mood{
    margin-left: 10px;
}


#main .panel form .mood input[type=radio]{
    display: none;
}

#main .panel form .content{
    width: 680px;
    height: 548px;
    margin-left: 10px;
    border: 1px solid #eee;
}

#main .panel form .content input[type=text]{
    width: 680px;
    height: 548px;
    
    
}