#main{
    width: 100%;
    height: 800px;
    margin: 0px;
    overflow:auto; 
    /*안에 내용에 margin을 주면 #main이 같이 내려가는걸 방지*/
}

#main .panel{
    width: 700px;
    height:680px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    overflow:auto; 
    border: 1px solid #eeeeee;

}

#main .panel .header{
    width: 680px;
    height:100px;
    margin: 10px;
    display: flex;
    /* border: 1px solid #eeeeee; */

}

#main .panel .header .regdate{
    width: 110px;
    height: 100%;

    margin-left: right;
    background: lightcoral;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 102px;
}

#main .panel .header .title{
    width: 470px;
    height: 100%;
    text-align: center;
    line-height: 102px;
    font-size: 40px;
    font-weight: bold;
}

#main .panel .header .mood{
    width: 100px;
    height: 100%;
    
}

#main .panel .body{
    width: 680px;
    height: 548px;
    margin-left: 10px;
    border: 1px solid #eee;

}