strong{
	font-weight:bold;
}

em{
	font-style:italic;
}

strong em, em strong{
	font-weight:bold;
	font-style:italic;
}

#main{
    width: 1080px;
    height: 900px;
    /* min-height: 600px; */
    margin-left: auto;
    margin-right: auto;
}

#main .book {
    width: 850px;
    height: 790px;
    --margin:50px ;
    position:relative;
    width: 80%;height: 90%;
    perspective: 1500px; /*원근법*/
    
}

#main .book .cover, .book .page1{
    position:absolute;
    width: 100%; height: 100%;
    text-align: center;
    box-shadow: 5px 5px 15px #333; 
    /* background: blue; */
}

#main .book .cover{
    /* background: rgb(239, 153, 166); */
    background: #f0c5d6;
    /* background-image: url(../../../images/user/diary/light-beige-leather-texture-background-with-pattern-closeup_113767-875\ \(1\).jpg); */
    transform-origin: left center;
    transition: 2s;
    z-index:2;
    /* transform: rotateY(-180deg); */

}
#main .book .cover .cover-panel{
    /* 원래 값
    width: 844px;
    height: 790px;
    
    margin-top: 10px;
    margin-left: 10px;

    border-top: 2px dashed #4a4a4a;
    border-right: 2px dashed #4a4a4a;
    border-bottom: 2px dashed #4a4a4a; */

    width:785px;
    height: 730px;
    
    margin-top: 40px;
    margin-left: 40px;
    border: 3px solid white;
    box-sizing: border-box;
}
.cover .cover-panel .covertitle{
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 40px;
  justify-content: flex-end;
}
.cover .cover-panel .covertitle div{
  width: 80px;
  height: 80px;
  border-top: 3px solid white ;
  border-left: 3px solid white ;
  border-bottom: 3px solid white ;
  color: white;
  text-align: center;
  line-height: 74px;
  font-size: 30px;
  
}
.covertitle :last-child{
  
  border-right: 3px solid white;
}
#main .book .cover .cover-panel span{
    position: relative;
    /* right: 100px; */
    display: inline-block;
    width: 500px;
    /* height: 200px; */
    margin-top: 20px;
    /* border: 1px solid rgb(195, 195, 195); */
    /* background: rgb(253, 253, 253); */
    transform-origin: left center;
    transition : 0.73s;
    font-size: 60px;
    font-weight: bold;
    /* color:  #444444; */
    color: white;
    /* box-shadow: 1px 1px 15px rgb(195, 195, 195); */
}
.cover-panel img{
  display: inline-block;
  margin-left: auto;
  margin-top: 95px;
  margin-right: auto;
}

#main .book .page1{
    /* background: #cba; */
    background-image: url(../../../images/user/diary/paper3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-origin: left center;
    /* transition: 2s;    */
    /* transition: background-color 2s 'rgb(239,153,166)' 2s; */
    /* transition-property: background-color;
    transition-duration: 10s; */
    transition: transform 2s;
}

#main .book .page1 .diary-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    height: 695px;
    /* border: 1px solid black; */
    left: 50px;
    top: 49px; /*79px*/
}
#main .book .page1 .diary-list .diary-panel-top {
    display: flex;
    width: 380px;
    height: 350px;
    /* border: 1px solid turquoise; */
    /* background: rgb(195, 195, 219); */
    /* margin: 10px; */
    /* padding-left: 16px; */
    /* padding-right: 16px;  */
    /* padding-top:0px;
    padding-bottom: 0px; */
    flex-flow: column;   
    margin-right: 3px;
}

#main .book .page1 .diary-list .diary-panel-top .head{
    display: flex;
    width: 380px;
    height: 66px;
    overflow: hidden;
    /* background-color: #f5f5f5; */
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    /* border: 1px solid black; */
}

#main .book .page1 .diary-list .diary-panel-top .head .deco{
    
    width: 64px;
    height: 64px;
    /* background: khaki; */  
}



#main .book .page1 .diary-list .diary-panel-top .head .deco .reborn{
    display: inline-block;
    width: 99px;
    height: 24px;
    background: lightcoral;
    transform: rotate(-46deg) translateX(-29px) translateY(-16px);
    text-align: center;
    color: white;
    line-height: 24px;
    /* overflow: hidden; */
}



#main .book .page1 .diary-list .diary-panel-top .head .title{
    width: 250px;
    color: #4a4a4a;
    text-align: center;
    line-height: 63px;
    font-size: 20px;
    font-weight: bold;
    /* margin-right: 64px;     */
}

#main .book .page1 .diary-list .diary-panel-top .head .mood{
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

#main .book .page1 .diary-list .diary-panel-top .head .input{
  margin-top: 35px;
  width: 30px;
  height: 100%;
}

/* input[type="checkbox"]{
  display: none;
} */

/* input[type="checkbox"] + label{
  display: inline-block;  */
  /* display: none; */
  /* width:17px;
  height: 17px; 
  background: #ffb1bb;
  cursor: pointer;
  border-radius: 3px; */
   /* float: right; */
  /* margin-top: 30px; */
   /*margin-left: 10px; */
   /* transition: 5s; */
   /* opacity: 0; */
}

/* input[type="checkbox"]:checked + label {
  background:url(/images/user/diary/check.png) #ffb1bb no-repeat center / 10px 10px; 
  
}  */

.head form .submit-button{
  display: none;
}

#main .book .page1 .diary-list .diary-panel-top .body{
    /* background: red; */
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
#main .book .page1 .diary-list .diary-panel-top .body .content{
  width: 381px;
  height: 100%;
  resize: none;
  background: none;
  padding:0px 10px;
  outline: none;
  border: none;
  line-height: 24px;
  text-align: left;
}




#main .book .page1 .diary-list .diary-panel-bottom {
  display: flex;
  width: 381px;
  height: 347px;
  /* border: 1px solid yellowgreen; */
  /* background: rgb(195, 195, 219); */
  /* margin: 10px; */
  /* padding-left: 16px; */
  /* padding-right: 16px;  */
  /* padding-top:0px;
  padding-bottom: 0px; */
  flex-flow: column;   
  margin-right: 3px;
}

#main .book .page1 .diary-list .diary-panel-bottom .head{
  display: flex;
  width: 100%;
  height: 57px;
  overflow: hidden;
  /* background-color: #f5f5f5; */
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  /* border: 1px 1px solid #ccc; */
}

#main .book .page1 .diary-list .diary-panel-bottom .head .deco{
  
  width: 64px;
  height: 64px;
  /* background: khaki; */  
}

#main .book .page1 .diary-list .diary-panel-bottom .head .deco .reborn{
  display: inline-block;
  width: 99px;
  height: 24px;
  background: lightcoral;
  transform: rotate(-45deg) translateX(-29px) translateY(-19px);
  text-align: center;
  color: white;
  line-height: 24px;
  /* overflow: hidden; */
}


#main .book .page1 .diary-list .diary-panel-bottom .head .title{
  width: 250px;
    color: #4a4a4a;
    text-align: center;
    line-height: 53px;
    font-size: 20px;
    font-weight: bold; 

  
}
#main .book .page1 .diary-list .diary-panel-bottom .head .mood{
  width: 50px;
  height: 50px;
  /* margin-top: 1px; */
}
#main .book .page1 .diary-list .diary-panel-bottom .head .input{
  margin-top: 29px;
  /* margin-top: 35px; */
  width: 30px;
  height: 100%;
}

#main .book .page1 .diary-list .diary-panel-bottom .body{
  /* background: red; */
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}


#main .book .page1 .diary-list .diary-panel-bottom .body .content{
    width: 381px;
    height: 100%;
    resize: none;
    background: none;
    padding:0px 10px;
    border: none;
    outline: none;
    line-height: 24px;
    text-align: left;
}

  /* ---------------------오픈/다음 버튼-------------------- */
  .note-button{
    width: 90px;
    height: 70px;
    /* background: #ea2027; */
    background: #FF775C;
    border: none;
    position: relative;
    left: 774px;
    top:440px;
    outline: none;
    z-index: 5;
    transform-origin: right center;
    transition: 2s;  
    /* perspective: 10px;   */
  }

  
  .note-button-circle1{
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    /* background: #ea2027; */
    background: #FF775C;
    top:0%;
    left: -35%;
  }
  
  .note-button-circle2{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: white;
    top:14%;
    left: -25%;
    
    /* box-shadow: 5px 0px 15px; */
  }
  .open-close{
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-left: 8px;
    color: black;
    font-size:20px;
    font-weight: bold;
    transition: 0.7s;
}
  .next{
    display:none;
    
    margin-top: 5px;
    font-size:20px;
    font-weight: bold;
    margin-left:40px;
    color: white;
    transition: 1s;

    opacity: 0;
  }

  .prev{
    display: none;
    
    margin-top: 10px;
    font-size:20px;
    font-weight: bold;
    margin-left:40px;
    color: white;
    transition: 1s;

    opacity: 0;
    
  }


  .next:hover, .prev:hover,.open-close:hover{
    cursor: pointer;
}

/* 삭제 버튼 */
.del-button{
  display: none;
  position: relative;
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: 70px;
  top: 20px;
  color: rgb(239, 153, 166);
  background: white;
  transition: 1s;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}

.del-button:hover{
  cursor: pointer;
}

/* 등록 버튼 */
.reg-button{
  
  position: relative;
  width: 80px;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: 70px;
  top: 20px;
  color: rgb(239, 153, 166);
  background: white;
  transition: 1s;
  border-radius: 10px;
}

.reg-button:hover{
  cursor: pointer;
}

/* 넘어가는 효과를 주는 클래스 */
.active{
  transform:rotateY(-180deg);
  
  z-index: 4;
  
}

.reactive{
  transform:rotateY(0deg);
  z-index: 4;
}

