.main-sec {
    width: 100%;
    height: 800px;
    --background: url(/images/user/couple/1-1.jpg) no-repeat;
    background: rgba(64, 64, 65, 0.445);
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid white;
}

    .main {
        width: 900px;
        height: 500px;
        border: 1px solid rgba(255, 255, 255, 0.384);
        color: white;
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
        padding-top: 20px;
    }

        .main .h1 {
            font-size: 40px;
        }

        .main .h2 {
            margin-top: 30px;
            font-size: 18px;
        }






        .response-form {
            margin: 30px auto 0 auto;
            width: 350px;
        }


            .response-form .sender-info-table {
                border-top: 2px solid #F65875;
            }

                .sender-info-table thead {
                    background: #000000;
                }

                    .sender-info-table tr {
                        height: 35px;
                        line-height: 35px; /*없어도 동작 잘함*/
                    }

                        .sender-info-table tr td {
                            border-bottom: 1px solid #e9e9e9;
                            text-align: center;
                        }

                        .sender-info-table tr td.col-s {
                            width: 80px;
                        }

                        .sender-info-table tr td.col-m {
                            width: 100px;
                        }

        .modal-main .response-btn-container {
            width: 88px;
            margin: 0 auto;
        }

            .response-btn-container .response-btn {
                margin-top: 20px;
                padding: 7px 20px;
                border: none;
                background: #F65875;
            }

            .response-btn-container .response-btn:hover {
                transition: 0.3s;
                background: #ff3157;
                color: white;
                cursor: pointer;
            }