#main{
    width: 100%;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow:auto; 
    /*안에 내용에 margin을 주면 #main이 같이 내려가는걸 방지*/
    /* border: 1px solid black; */
    background-image: url("../../../images/user/letter/letter-back5.webp");
    /* background: #fedee1; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}

#main .panel{
    width: 1080px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    /* border :1px solid springgreen; */
}

#main .panel .letter-box{
    display: flex;
    flex-flow: column;
    width: 700px;
    height:570px; /*600px*/
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    /* border: 3px solid red; */
    border-radius: 10px;
    /* background: white; */
}

#main .panel .letter-box .head{
    width: 100%;
    height: 80px;
    /* background: rgb(194, 38, 38); */
    background: #ffb1bb;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    /* border-bottom : 1px solid white ; */
    border-radius: 10px;
    margin-bottom: 10px;
}

#main .panel .letter-box .letter-content{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    font-size: 25px;
    font-weight: bold;
    /* background: white; */
    /* overflow: hidden; */
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
#main .panel .letter-box .letter-content::-webkit-scrollbar {
    display: none;
     /* Chrome, Safari, Opera*/
}

#main .panel .letter-box .letter-content .cover{
    width: 697px;
    height: 517px;
    position: absolute;
    left: 444px;
    top: 403px;
    background: rgb(223, 26, 26);
    transition: 2s;
    
}

#main .panel .letter-box .letter-content .letter{
    display: flex;
    width: calc(100%-3px);
    height: 75px;
    /* border: 1px solid red; */
    border-radius: 10px;
    /* background:#fdd4e2; */
    background: rgb(250, 230, 233);
    margin : 0px 3px;
    margin-bottom: 10px;
    color: lightcoral;
    
    
    
}

#main .panel .letter-box .letter-content .letter:hover{
    background: lightcoral;
    color: white;
}


#main .panel .letter-box .letter-content .letter .img{
    /* width: 100px;
    height: 100px; */
    margin-right: 10px;
}

#main .panel .letter-box .letter-content .letter .title{
    width: 796px;
    height: 80px;
    text-align: left;
    line-height: 80px;
    /* margin-left: 20px; */
}

.reg-del-panel{
  position: absolute;
  left: 1400px;
  top: 500px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  transition: 1s;
}
.reg-del-box{
  transition: 1s;

}
.reg-del-box .reg{
  width: 100px;
  height: 100px;
  /* border-radius: 50px; */
  /* text-align: center;
  line-height: 100px; */
  background: #ffb1bb url(../../../images/user/letter/write.png) no-repeat center center;
  background-size: 70px 70px;
}

.reg-del-box .del{
  width: 100px;
  height: 100px;
  /* border-radius: 50px; */
  /* text-align: center;
  line-height: 100px; */
  background: #ffb1bb url(../../../images/user/letter/delete.png) no-repeat center center;
  background-size: 70px 70px;
}
.reg-del-box .del:hover{
  cursor: pointer;
}
.change-reg{
  position: absolute;
  left: 1505px;
  top: 544px;
  width: 10px;
  height: 10px;
  background: #ffb1bb;
  border-radius: 10px;
}

.change-reg:hover{
  cursor: pointer;
}

.change-del{
  position: absolute;
  left: 1505px;
  top: 556px;
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 10px;
}

.change-del:hover{
  cursor: pointer;
}

.inputbox{
  width: 50px;
  transition: 1s;
}
input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label{
  /* display: inline-block;  */
  display: none;
  width:17px; height: 17px; background: #ffb1bb;
  cursor: pointer;
   border-radius: 3px;
   /* float: right; */
   margin-top: 30px;
   /*margin-left: 10px; */
   /* transition: 5s; */
   /* opacity: 0; */
}

input[type="checkbox"]:checked + label {
  background:url(../../../images/user/letter/check.png) #ffb1bb no-repeat center / 10px 10px; 
  
} 



/*modal*/

.modal{
    /* top:100px;
    left:100px; */
    background-image: url(../../../images/user/letter/header1.jpg);
    /* background: red; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* border:1px solid red; */
    display: flex; 
    flex-direction: column;
    width:600px;
    min-height:400px;
    border-radius: 10px;
    overflow: hidden;
    /* transition:1s; */
  }
  
  .modal header{
    background: #000;
    opacity: 0.5;
    height: 150px;
    color: white;
  }

  .to {
    
    display: flex;
    margin: 0 10px;
  }
  .to :nth-child(1){
    
    display: inline-block;
    width: 75%;
  }
  .to :nth-child(2){
    display: inline-block;
    width: 25%;
    text-align: right;
  }
  
  header .title{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
  
  .content{
    display: block;
    padding: 10px;
    width: 100%;
    height: 300px;
    /* display:flex; */
     /* justify-content: center;
     align-items: center; */
     /* opacity: 0.6; */
     background: white;
     /* border: 1px solid black; */
     border: none;
     resize: none;
  }
  
  .button-box{
    display:flex;
    justify-content: center; 
    /* border-top: 1px solid #e9e9e9; */
    background: white;
  }
  .button-box input[type=button]{
    margin:5px;
    font-weight: bold;
    outline: none;
  }
  .button-box input[type=button]{
    cursor: pointer;
  }