/******************* main *******************/
.empty-line {
    min-height: 30px;
    background: #f5f5f5;
}

/*********** 또바기 소개부분 ***********/
.section-1 {
    min-height: 480px;
    --background-color: #fdde23;
    --box-shadow: 0 0 10px 0 gray;
}

    .sub-section-1 {
        width: 1000px;
        height: 600px;
        --border: 1px solid gray;
        margin: 0 auto;
    }

        .intro-container {
            display: flex;
            padding-top: 60px;
        }

        .intro-container .intro-img-container {
            --border: 1px solid blue;
        }

        .intro-container .intro-ment-container {
            --border: 1px solid red;
        }

            .intro-ment-container .intro-ment {
                padding-top: 100px;
                padding-left: 150px
            }

            .intro-ment-container .intro-ment h1 {
                font-size: 40px;
                font-weight: bold;
            }
            .intro-ment-container .intro-ment h1:nth-child(2) {
                margin-bottom: 20px;
                color:#fc0453;
            }

            .intro-ment-container .intro-ment .ment {
                font-size: 18px;
                margin-top: 5px;
            }

            .intro-ment-container .intro-ment .service-btn {
                border: 1px solid black;
                width: 265px;
                height: 50px;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                background: white;
                margin-top: 20px;
            }

            .intro-ment-container .intro-ment .service-btn:hover {
                border: 1px solid #fc0453;
                background: #fc0453;
                width: 265px;
                height: 50px;
                transition: 0.5s;
                color: white;
            }

/************ ***********/
.section-2 {
    min-height: 600px;
    background-color: #ffc5d0;
}
		.section-2 .calendar .btn{
            border: 1px solid black;
            width: 265px;
            height: 50px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            background: white;
            margin-top: 20px;
        }

        .section-2 .calendar .btn:hover{
            border: 1px solid #fc0453;
            background: #fc0453;
            width: 265px;
            height: 50px;
            transition: 0.5s;
            color: white;
        }


/************ ***********/
.section-3 {
    min-height: 600px;
    background-color: #f8f7f1;
}


/************ ***********/
.section-4 {
    min-height: 600px;
    background-color: #a7eeff;
}
/************ ***********/
.section-5 {
    min-height: 600px;
    background-color: white;
}	
.section-5 .intro-ment-container{
	
	margin-top:70px;
	
}
.section-5 .intro-ment-container .intro-ment h1:nth-child(2){
	color:black;
}

/************ ***********/
.section-6 {
    min-height: 600px;
    /* background-color: #ff9cbd; */
    background-color: #ffffb1;
}



.section-6 .intro-ment-container .intro-ment h1:nth-child(2){
	color:black;
}

.section-6 .intro-container{
	align-items: center;
	padding-top:50px;
}

.section-6 .intro-img-container{
	border-radius:50px;
	overflow:hidden;
	margin-top:100px;
	margin-left:100px;
	
}

