/******************* main *******************/
.empty-line {
    min-height: 30px;
    background: #f5f5f5;
}

.section-1 {
    min-height: 700px;
    background-color: #fdde23;
}

.section-2 {
    min-height: 700px;
    background-color: #ffc5d0;
}

.section-3 {
    min-height: 700px;
    background-color: #d2ffd2;
}

.section-4 {
    min-height: 700px;
    background-color: #a7eeff;
}