/******************* header *******************/
.header {
    min-height: 80px;
}

    .sub-header {
        display: flex;
        width: 70%;
        height: 80px;
        margin: 0 auto;
    }

    .sub-header a .logo {
        height: 50px;
        margin-top: 15px;
    }

.sub-header nav ul li {
    flex-grow: 0;
    flex-basis: 120px; /*120px->130px*/
    padding: 29px;
    text-align: center;
}
    .sub-header nav {
        flex-grow: 1;
    }

        .sub-header nav ul {
            display: flex;
            justify-content: flex-end;
        }

            .sub-header nav ul li {
                flex-grow: 0;
                flex-basis: 120px;
                padding: 30px;
                text-align: center;
            }

            .sub-header nav ul li:hover {
                background: #fdde23;
                color: white;
                cursor: pointer;
            }

/******************* main *******************/
.empty-line {
    min-height: 30px;
    background: #f5f5f5;
}

.section-1 {
    min-height: 700px;
    background-color: #fdde23;
}

.section-2 {
    min-height: 700px;
    background-color: #ffc5d0;
}

.section-3 {
    min-height: 700px;
    background-color: #d2ffd2;
}

.section-4 {
    min-height: 700px;
    background-color: #a7eeff;
}

/******************* footer(전 플젝에서 퍼옴) *******************/
.footer {
    height: 300px;
    width: 1200px;
    background-color: white;
    color: rgba(0, 0, 0, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
}

    .footer ul {
        padding: 0;
        list-style: none;
        display: flex;
        --flex-wrap: wrap;
    }

    .footer ul li {
        display: flex;
        flex-shrink: 0;
    }

    .footer a {
        color: lightslategray;
    }

    .footer div p {
        padding-top: 20px;
        padding-bottom: 10px;
    }
