.d-none {
    display: none;
}

/******************* header *******************/
.header {
    min-height: 80px;
}

    .sub-header {
        display: flex;
        width: 70%;
        height: 80px;
        margin: 0 auto;
        position: relative;
    }

    .sub-header a .logo {
        height: 70px;
        margin-top: 4px;
    }

    .sub-header .pic-login {
        width: 40px;
        height: 40px;
    }

        .sub-header .sub-menu {
            position: relative;
        }

        .sub-header .sub-menu .mega-menu {
            position: absolute;
            border: 1px solid rgb(223, 223, 223);
            border-top: none;
            background-color: white;
            --margin-top: 15px;
            left: 10px;
            opacity: 0;
            transition: opacity .25s ease .1s;
            width: 100px;
        }

            .sub-header .sub-menu .mega-menu ul li {
                height: 0;
                overflow: hidden;
                padding: 0;
                transition: height .25s ease .1s;
            }
        
                .sub-header .sub-menu .mega-menu ul li a {
                    text-align: left;
                    font-size: 16px;
                    font-weight: none;
                }

            .sub-header .sub-menu:hover .mega-menu {
                opacity: 1;
                border: 1px solid #e9e9e9;
            }

                    .sub-header .sub-menu:hover .mega-menu ul li {
                        height: 40px;
                        overflow: visible;
                        padding: 10px;
                        color: black;
                    }

                    .sub-header .sub-menu:hover .mega-menu ul li:nth-child(2) {
                        border-top: 1px solid #e9e9e9;
                    }

                    .sub-header .sub-menu:hover .mega-menu ul li:nth-child(3) {
                        border-top: 1px solid #e9e9e9;
                    }

                    .sub-header .sub-menu:hover .mega-menu ul li:hover {
                        background: #fc0453;
                        border: none;
                        color: white;
                    }

        /* .sub-header .pic-login:hover {
            background-color: none;
        } */

    .sub-header nav {
        flex-grow: 1;
    }

        .sub-header nav > ul {
            display: flex;
            justify-content: flex-end;
        }

            .sub-header nav > ul > li {
                flex-grow: 0;
                flex-basis: 120px;
                height: 80px;
                padding-top: 30px;
                text-align: center;
            }

            .sub-header nav > ul > li > a{
                padding: 32px;
            }

            .sub-header nav > ul > .sub-menu {
                padding-top: 20px;
            }

            .sub-header nav > ul > li:last-child {
                padding: 27px 0 21px 0;
                font-size: 25px;
                color: #fddc23c9;
            }

            .sub-header nav > ul > li:hover {
                --background: #fdde23;
                color: #F65875;
                cursor: pointer;
            }

            .sub-header nav > ul > .sub-menu:hover {
                background: none;
            }

            .sub-header nav > ul > li:last-child:hover {
                background: none;
                color: #fddc23c9;
            }

            .sub-header .tooltip {
                position: relative;
                position: absolute;
                left: 1277px;
                top: 25px;
            }

            .tooltip .bell-num {
                position: absolute;
                width: 15px;
                height: 15px;
                font-size: 12px;
                color: white;
                text-align: center;

                border-radius: 75px;
                background: red;
            }

            .tooltip .bell-content {
                position: absolute;
                top: 40px;
                left: -100px;

                width: 200px;
                background: white;
                border: 1px solid #f0f0f0;
                padding: 15px;
                border-radius: 5px;
                text-align: center;
                --z-index: 1;
            }

                .tooltip .bell-content .detail-btn {
                    margin-top: 10px;
                    border: none;
                    cursor: pointer;
                    background: none;
                }

                .tooltip .bell-content .detail-btn:hover {
                    text-decoration: underline;
                }
            
/************** 모달 *****************/
.header-modal-sec {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    --transition: 3s;
    display: none;
    justify-content: center;
    align-items: center;
}

    .header-modal-main {
        background: white;
        border-radius: 5px;
        color: black;
        width: 450px;
        padding: 10px 25px 25px 25px;
    }

        .header-modal-main .d-none {
            display: none;
        }

        .header-modal-main .header-exit-container {
            display: flex;
            justify-content: flex-end;
        }

        .header-modal-main .header-h1 {
            font-size: 21px;
            margin-top: 10px;
            text-align: center;
        }

        .header-modal-main .header-response-form {
            margin: 30px auto 0 auto;
            width: 350px;
        }

        .header-response-form .header-sender-info-table {
            border-top: 2px solid #F65875;
        }

            .header-sender-info-table thead {
                background: #f5f5f5;
            }

                .header-sender-info-table tr {
                    height: 35px;
                    line-height: 35px; /*없어도 동작 잘함*/
                }

                    .header-sender-info-table tr td {
                        border-bottom: 1px solid #e9e9e9;
                        text-align: center;
                    }

                    .header-sender-info-table tr td.header-col-s {
                        width: 100px;
                    }

                    .header-sender-info-table tr td.header-col-m {
                        width: 140px;
                    }

    .header-modal-main .header-response-btn-container {
        width: 250px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

        .header-response-btn-container .header-response-btn {
            margin-top: 20px;
            padding: 7px 20px;
            border: none;
            background: #F65875;
        }

        .header-response-btn-container .header-response-btn:hover {
            transition: 0.3s;
            background: #ff3157;
            color: white;
            cursor: pointer;
        }


/******************* footer *******************/
.footer {
    height: 300px;
    width: 1200px;
    background-color: white;
    color: rgba(0, 0, 0, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
}

    .footer ul {
        padding: 0;
        list-style: none;
        display: flex;
        --flex-wrap: wrap;
    }

    .footer ul li {
        display: flex;
        flex-shrink: 0;
    }

    .footer a {
        color: lightslategray;
    }

    .footer div p {
        padding-top: 20px;
        padding-bottom: 10px;
    }