/* common************************************** */
* {
    text-align: center;
}

.d-none {
    display: none;
}

/* button */
button:focus {
    outline: none;
}

.button-area .button {
	font-size: 1rem;
}

.button-area button:hover {
    font-weight: bold;
    color: hotpink !important;
}

.write-button {
    margin-bottom: 3%;
}

/* visual */
.visual {
    width: 100%;
    min-height: 200px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5%;
    padding-right: 10%;
}

.visual .img{
    width: 20%;
}

.visual .img img{
    width: 100%;
    height: 100%;
}

.visual .visual-text .title {
    font-size: 8em;
}

.visual .visual-text .content {
    font-size: 3em;
}

/* popup */
.popup-container {
	border:1px solid gray;
	position: absolute;
	top:50%;
    left:50%;
    margin-top: -250px;
    margin-left: -130px;
	width: 500px;
	height: 360px;
	background: white;
}

.popup-container > h1 {
	font-size:2em;
	padding:5% 0;
}

/* 신고 팝업 */
.report-popup-container {
	display: flex;
	flex-flow: column wrap;
    padding-bottom:5%;
}

.report-popup-container label {
	padding:2% 0;
    font-weight: bold;
    color: #090909;
}







