/* table */
.table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #ebc6ce;
    margin-bottom: 5%;
}  

.table th {
    font-weight: bold;
    text-align: center;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ebc6ce;
}

.table th:first-child, .table td:first-child {
    --border-left: 0;
}

.table th:last-child, .table td:last-child {
    border-right: 0;
}

.table tr td:first-child{
    text-align: center;
}

.table .uploadImg {
	max-width: 300px;
	max-height: 300px;
}

/* recom */
.recom-area {
    margin-bottom: 3%;
}

.recom-area button{
    background: #fff;
    color: #090909 !important;
}
